<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>jsp01</display-name>
  <!-- 서브릿 매핑 -->
  <servlet>
  	<servlet-name>forward</servlet-name>
  	<servlet-class>ch03.ForwardController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>forward</servlet-name>
  	<url-pattern>/ch03_servlet/forward.do</url-pattern>
  </servlet-mapping>
  
  <!-- 에러 페이지 설정 -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/404code.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/error/500code.jsp</location>
  </error-page>
  
  <!-- 기본 페이지 -->
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
</web-app>